.start_menu_wrapper {
  text-align: center;
}

.start_title {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 1em;
}

.start_button {
  font-size: 2.5rem;
  padding: 1em 2em;
  border-radius: 1em;
  border: transparent;
}

.instructions {
  font-size: 3rem;
  margin-bottom: .75em;
}
