@use './variables' as *;

/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Normalize */
body, 
html {
  height: 100%;
}

body {
  background-color: $main-bg;
  color: white;
}

#root {
  height: 100%;
}

/* General Styles */
h1,
h2 {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 1em;
}

button {
  display: block;
  width: 90%;
  color: white;
  font-size: 2.5rem;
  padding: 1em 2em;
  border-radius: 1em;
  border: transparent;
  margin: 0 auto;
  background-color: $btn-bg;
  transition: 100ms ease-in-out;

  & + button {
    margin-top: .75em;
  }
  &:hover,
  &:focus {
    opacity: .5;
  }
}